.note-app-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 90vh;
    padding: 0rem 2rem;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .note-app-container {
        flex-direction: column;
    }
}