.text-box {
    flex-grow: 2;
    flex-basis: 60%;
    margin-right: 2rem;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 75vh;
}

@media (max-width: 600px) {
    .text-box {
        /* flex-basis: 100%; */
        width: 95%;
        margin: 0;
        left: 0;
        position: absolute;
        transition: transform 0.3s;
    }

    .text-box.hidden {
        /* transform: translateX(-100%); */
        /* display: none; */
    }

    .text-box.visible {
        transform: translateX(0%);
    }
}