.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0rem 2rem;
}

.navbar > a {
    text-decoration: none;
}
 
.navbar > .right-items {
    display:flex;
    align-items: center;
}

.navbar > .right-items img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 20px;
    cursor: pointer;   
}

.navbar > .right-items > i{
    display: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .navbar {
        padding: 0rem 1.2rem;
    }

    .navbar > .right-items > p {
        display: none;
    }

    .navbar > .right-items > i{
        display: block;
    }
}